.hero {
    padding-top: 50px;
    position: relative;
    width:100vw;
    max-height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .hero h2 {
    font-family: 'Sawarabi Mincho', serif;
  }