.hero {
    padding-top: 50px;
    position: relative;
    width:100vw;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url("../images/recordsleeves.jpg");
  }

  
  .hero h2 {
    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
  }

  .hero p {
    text-align: center;
  }

  .container {
    padding: 0px !important;
  }