.section {
    font-family: 'Sawarabi Mincho', serif;
    color: #0D0D0D;
    text-align: center;
    position: sticky;
    
}

.section > h2 {
    padding-top: 10px;
}

.section > p {
    padding-bottom: 10px;
}

#title {
       border-bottom: 1px solid #0D0D0D;
    
}

.overview {
    color: #0D0D0D; 
    
}

.overview > h3 {
    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
    padding: 20px;
}

.overview > p {
    width: 60vw;
}

.users {
    color: #0D0D0D; 
}

.users > h3 {

    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
    padding: 20px;

}