.section {
    font-family: 'Sawarabi Mincho', serif;
    color: #0D0D0D;
    text-align: center;
    position: sticky;
    
}

.section > h2 {
    padding-top: 10px;
}

.section > p {
    padding-bottom: 10px;
}

#title {
       border-bottom: 1px solid #0D0D0D;
    
}

.overview {
    color: #0D0D0D; 
    
}

.overview > h3 {
    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
    padding: 20px;
}

.overview > p {
    width: 60vw;
}

.users {
    color: #0D0D0D; 
}

.users > h3 {

    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
    padding: 20px;

}

.users > p {
    width: 60vw;
}

.userName {
    font-family: 'Sawarabi Mincho', serif;
    font-weight: 600;
}

.usability {
    color: #0D0D0D; 
}

.usability > h3 {

    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
    padding: 20px;

}

.usability > p {
    width: 60vw;
}

.usability > h4 {
    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
    padding: 10px;
}

.images {
    max-width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.footer {
    text-decoration: none;
    color: #0D0D0D; 
}