* {
    margin: 0;
}

:root {
    --dark: #0D0D0D;
    --green: #0DD97A;
    --blue: #1BCBF2;
    --purple: #9857F2;
    --red: #F24822;
    --pink: #F26B5E;
    --white: #F2F2F2;

}

body {
    background-color: var(--white);
}

.top {
    width: 100vw;
    height: 50px;
    color: var(--red);
    background-color: var(--dark);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Sawarabi Mincho', serif;
    z-index: 999;
}

.topLeft,
.topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter {
    flex: 6;
}

.topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: var(--pink);
    cursor: pointer;
}

.topIcon:hover {
    color: var(--red);
}

.topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}


.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topListItem > a {
    text-decoration: none;
    color: inherit;
}

.topListItem > a:hover {
    color: var(--pink);
}

.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.feature {
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature > a {
    /* max-height: calc(100vh - 50px);
    max-width: 60vw; */
    object-fit: cover;
    height: 300px;
    width: 300px;    
    opacity: 0.5;
    border-radius: 50%;
}

.feature > a:hover {
    opacity: 0.8;
}

#red {
    background-color: var(--red);
}

#purple {
    background-color: var(--purple);
}

#green {
    background-color: var(--green);
}

.featureDesc {
    display: flex;
    flex-direction: column;
}

.featureTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Sawarabi Mincho', serif;
    font-size: 28px;
    color: var(--dark);
}

.featureText {
    text-align: center;
    color: var(--dark);
    font-size: 18px;
    line-height: 25px;
}

@media (max-width: 792px) {
    .topListItem > a {
        display: none;
    }
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
    }
}